<section class="carousel">
    <section class="carousel-track">   
        <section class="hero">
            <div class="fondo-img" style="background-image: url('/src/assets/imagenes/Fondo.jpeg');"></div>
            <span class="inicio-content">
                <h2>Asados Especiales</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste, aperiam rerum quis laudantium at quaerat.</p>
                <form action="index.html" method="get">
                    <button>Ver mas</button>
                </form>
            </span>
        </section>
        <section class="hero">
            <div class="fondo-img" style="background-image: url('/src/assets/imagenes/Render1.jpeg');"></div>
            <span class="inicio-content">
                <h2>Asados ahumados</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste, aperiam rerum quis laudantium at quaerat.</p>
                <form action="index.html" method="get">
                    <button>Ver mas</button>
                </form>
            </span>
        </section>
        
        
        <section class="hero">
           
            <div class="fondo-img" style="background-image: url('/src/assets/imagenes/Render2.jpeg');"></div>
            <span class="inicio-content">
                <h2>Asados locos</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste, aperiam rerum quis laudantium at quaerat.</p>
                <form action="index.html" method="get">
                    <button>Ver mas</button>
                </form>
            </span>
        </section>
        
     
        <section class="hero">
            <div class="fondo-img" style="background-image: url('/src/assets/imagenes/Render3.jpeg');"></div>
            <span class="inicio-content">
                <h2>Parrillada</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste, aperiam rerum quis laudantium at quaerat.</p>
                <form action="index.html" method="get">
                    <button>Ver mas</button>
                </form>
            </span>
        </section>
    </section>
</section>
